.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.some-image {
  width: auto;
  height: auto;
  object-fit: cover;

  max-width: 10%;
  padding-left: 3%;
  padding-right: 3%;
}